//
//  QA.xcconfig
//  Learnwise
//
//  Created by Lubaba Hasnain on 06/06/17.
//  Copyright © 2017 nineleaps. All rights reserved.
//

APP_NAME = Learnwise(QA)

BACKEND_URL = http:\/\/staging.learnwise.org/api/

CRASHLYTICS_API_KEY = 984b07c4884c99977c38d337b5916032f8291a38

CRASHLYTICS_BUILD_SECRET = e171a49b2d8f827b2cce21aebd63dce7b496bfb3e4e7d0569ef88b379280d6be
