<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>849845248430-mpui8g58p2e04gtbpjqq9p3eoibml3i1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.849845248430-mpui8g58p2e04gtbpjqq9p3eoibml3i1</string>
	<key>API_KEY</key>
	<string>AIzaSyAAp0aY21PUg_s929NZKr2hNcUtiJeXJx4</string>
	<key>GCM_SENDER_ID</key>
	<string>849845248430</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nineleaps.Learnwise</string>
	<key>PROJECT_ID</key>
	<string>learnwise-ef8d2</string>
	<key>STORAGE_BUCKET</key>
	<string>learnwise-ef8d2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:849845248430:ios:5e6fae7acdac9a99</string>
	<key>DATABASE_URL</key>
	<string>https://learnwise-ef8d2.firebaseio.com</string>
</dict>
</plist>